<h2>Paises</h2>
<ul class="list-group">
<!--
<li  routerLink=""  
     routerLinkActive="active"
     [routerLinkActiveOptions]="{exact:true}"
     class="list-group-item">Home Page</li>
<li  class="list-group-item"
     routerLinkActive="active"
     routerLink="about"
     >About Page</li>
     <li  class="list-group-item"
     routerLinkActive="active"
     routerLink="contact"
     >Contact Page</li>
-->
     <li  class="list-group-item"
          routerLinkActive="active"
          routerLink="/countries/by-capital"
     > por capital</li>
     <li  class="list-group-item"
               routerLinkActive="active"
               routerLink="/countries/by-country"
     >por pais</li>
     <li  class="list-group-item"
          routerLinkActive="active"
          routerLink="/countries/by-region"
          >por region</li>
          
</ul>